/*//////////////////// TELA LOGIN ////////////////////*/

body {
    padding: 10px;
    background: #115FBB;
}

a {
    text-decoration: none;
}

/* LOGO */
.logo {
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: #FFF;
}

/* FORMULARIO DE LOGIN */
.container-formulario-login {
    border: 1px solid red;
}

.boas-vindas {
    font-family: Arial, Helvetica, sans-serif;
}

.sombra {
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra com deslocamento horizontal, vertical, desfoque e cor */
}

.opcao-de-login {
    color: rgba(255, 255, 255, 0.4);
}

.opcao-de-login:hover {
    color: rgba(168, 168, 168, 0.4);
}

.botao-acessar {
    width: 100px;
    font-size: 16px;
    color: #5C5C5C;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-size: 18px;
}

/* Estilo para o ícone de carta */
.input-icon-email {
    position: relative;
    margin-bottom: 0rem;
}
.input-icon-email i {
    position: absolute;
    left: 10px;
    top: 70%;
    transform: translateY(-50%);
    color: #555;
}
/* Estilo para o campo de entrada */
.input-icon-email input[type="email"] {
    padding-left: 30px; /* Espaço para o ícone */
    height: 40px; /* Altura do campo */
    font-size: 16px;
    border-radius: 4px;
}

/* Estilo para o ícone de cadeado */
.input-icon-cadeado {
    position: relative;
    margin-bottom: 0rem;
}

.input-icon-cadeado i {
    position: absolute;
    left: 10px;
    top: 70%;
    transform: translateY(-50%);
    color: #555;
}

/* Estilo para o campo de entrada */
.input-icon-cadeado input[type="password"] {
    padding-left: 30px; /* Espaço para o ícone */
    height: 40px; /* Altura do campo */
    font-size: 16px;
    border-radius: 4px;
}

/*//////////////////// TELA CHAMADOS ////////////////////*/
.boas-vindas {
    font-size: 20px;
}

.botao-sair {
    width: 90px;
    border-radius: 26px;
    font-size: 16px;
    color: #5C5C5C;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

.opcao-meus-chamados {
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

.opcao-abrir-chamado {
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

/* Estilo para o ícone de lista */
.input-icon-lista-ticket {
    position: relative;
    margin-bottom: 0rem;
}

.input-icon-lista-ticket i {
    position: absolute;
    font-size: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #555;
}

/* Estilo para o campo de entrada */
.input-icon-lista input[type="password"] {
    padding-left: 30px; /* Espaço para o ícone */
    height: 40px; /* Altura do campo */
    font-size: 16px;
    border-radius: 4px;
}

/*//////////////////// TELA ABRIR CHAMADO ////////////////////*/
textarea {
    resize: none;
}

.texto-dropdown {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.estilo-dropdowns {
    width: 180px;
    height: 40px;
    font-size: 18px;
    border-radius: 2px;
}

.input-equipamento {
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: none;
}

.botao-voltar {
    font-size: 16px;
    background: none;
    border: none;
}

.caixa-comentario {
    margin-top: 40px;
    margin-bottom: 0;
}

.area-comentario {
    font-size: 18px;
}

/* Estilo para o ícone de voltar */
.icone-voltar {
    position: relative;
    margin-bottom: 0rem;
}

.icone-voltar i {
    position: absolute;
    font-size: 25px;
    top: 70%;
    transform: translateY(-50%);
}

.icone-voltar input[type="submit"] {
    padding-left: 30px; /* Espaço para o ícone */
    font-size: 26px;
    border-radius: 4px;
}

.container-botao-voltar, .container-botao-enviar {
    height: 50px;
    position: relative;
}

.botao-enviar {
    width: 100px;
    border-radius: 100px;
    position: absolute;
    right: 0px;
    bottom: 30%;
    transform: translateY(-50%);
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

/*//////////////////// TELA CHAMADO ENVIADO ////////////////////*/

/* Estiliza a sobreposição */
.overlay {
    position: fixed; /* Fica fixo em relação à tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
    z-index: 1; /* Garante que a sobreposição fique acima de outros elementos */
}

.conteudo-acima-da-sobreposicao {
    position: relative;
    z-index: 2;
}

/* CONTEÚDO */
.msg-chamado-enviado {
    font-size: 30px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.informacoes {
    font-size: 22px;
    text-align: left;
}

.botao-ok {
    width: 150px;
    border: none;
}

.informacoes div {
    margin-top: 10px;
}

/*//////////////////// TELA MEUS CHAMADOS ////////////////////*/

.container-geral {
    background-color: #115FBB;
    padding: 20px;
}

.header-row {
    font-weight: bold;
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 10px 0;
    text-align: center;
}

.header-row div {
    font-weight: bold;
}

.numero-chamado, .estado-aberto, .estado-fechado, .estado-pendente {
    border-radius: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background: #FFF;
}

.numero-chamado {
    color: #000;
    background: #FFF;
}

.estado-aberto {
    background: #1D9000;
}

.estado-fechado {
    background: #CB0000;
}

.estado-pendente {
    background: #C66B00;
}

.row.mt-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col-4.text-center.text-white {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.header-row .col-4 {
    padding: 0;
}

.container-icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones horizontalmente */
    align-items: center; /* Alinha verticalmente os ícones e o texto */
    gap: 10px; /* Espaço entre os ícones */
}

.container-icons i {
    font-size: 20px; /* Tamanho dos ícones */
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #555; /* Cor dos ícones */
}

.icone-olho {
    background-color: #fff;
}

/* Ajuste para garantir que o texto e o ícone estejam alinhados */
.col-4.text-center.text-white div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Ajustes de responsividade */
@media (max-width: 767.98px) {
    .numero-chamado, .estado-aberto, .estado-fechado, .estado-pendente {
        font-size: 15px;
    }

    .container-icons i {
        font-size: 15px;
    }
}


/* Ajustes de responsividade */
@media (max-width: 767.98px) {
    .numero-chamado, .estado-aberto, .estado-fechado, .estado-pendente {
        font-size: 15px;
    }

    .container-icons i {
        font-size: 15px;
    }
}


/* Ajusta o tamanho dos ícones e textos em dispositivos menores */
@media (max-width: 767.98px) {
    .numero-chamado, .estado-aberto, .estado-fechado, .estado-pendente {
        font-size: 15px;
    }

    .container-icons i {
        font-size: 15px;
    }
}

/* Ajuste para garantir que o texto e o ícone estejam alinhados */
.col-4.text-center.text-white div {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*//////////////////// TELA DETALHES DO CHAMADO ABERTO ////////////////////*/
h1 {
    font-size: 30px;
}

hr {
    padding: 2.5px;
}

/* Estilo de informações sobre o chamado */
.campo-info {
    font-size: 20px;
    font-weight: 500;
}

.tipo-chamado {
    font-weight: 500;
}

.detalhes-titulo {
    font-weight: 700;
}

/* Ajusta a cor do status */
.abrir {
    color: #1D9000;
}

.fechar {
    color: #CB0000;
}

.pendente {
    color: #C66B00;
}

/* Ajusta o tamanho do ícone */
.icone-lista {
    font-size: 25px;
}

.container-detalhes {
    padding: 0 20px;
}

.container-detalhes h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container-detalhes .info {
    margin-bottom: 20px;
}
