{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>IF CHAMADOS - Abrir chamado</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/7f423aaa39.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-geral-abrir-chamado">
        <div class="logo mb-4 text-white">IF CHAMADOS</div>

        <div class="container">
            <form method="post" action="{% url 'submit-chamado' %}">
                {% csrf_token %} <!-- Adiciona o token CSRF ao formulário -->
                
                <div class="text-white mt-4 texto-dropdown">Departamento</div>
                <input name="departamento" class="input-equipamento sombra" type="text" placeholder="Ex: Localização." required>

                <div class="text-white mt-4 texto-dropdown">Sala</div>
                <input name="sala" class="input-equipamento sombra" type="text" placeholder="Ex: Núm. da Sala." required>

                <div class="text-white mt-4 texto-dropdown">Equipamento</div>
                <input name="equipamento" class="input-equipamento sombra" type="text" placeholder="Ex: Objeto com problema." required>

                <div>
                    <label for="descricao_problema" class="form-label text-white texto-dropdown caixa-comentario">Descr. do problema:</label>
                    <textarea name="descricao_problema" id="descricao_problema" class="form-control area-comentario custom-placeholder sombra" rows="5" placeholder="Digite seu relato aqui..." required></textarea>
                </div>

                <div class="text-white mt-4 texto-dropdown">Patrimônio</div>
                <input name="patrimonio" class="input-equipamento sombra" type="text" placeholder="Ex: Núm. de fabricação">

                <hr>

                <div class="container-botao-voltar">
                    
                </div>

                <div class="icone-voltar">
                    <a href="{% url 'chamados' %}"><i class="fas fa-arrow-left text-white"></i></a>
                </div>



                <div class="container-botao-enviar">
                    <input class="btn btn-light mt-4 mb text-center botao-enviar sombra" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
