{% extends "admin/base_site.html" %}

{% block content %}
  <h1>Detalhes do Chamado: {{ chamado.id }}</h1>
  <div>
    <strong>Departamento:</strong> {{ chamado.departamento }}<br>
    <strong>Sala:</strong> {{ chamado.sala }}<br>
    <strong>Equipamento:</strong> {{ chamado.equipamento }}<br>
    <strong>Descrição do Problema:</strong> {{ chamado.descricao_problema }}<br>
    <strong>Patrimônio:</strong> {{ chamado.patrimonio }}<br>
    <strong>Data de Abertura:</strong> {{ chamado.data_abertura }}<br>
    <strong>Status:</strong> {{ chamado.get_status_display }}<br>
    <strong>Técnico:</strong> {{ chamado.tecnico }}<br>
  </div>

  <form method="post">
    {% csrf_token %}
    
    <div class="form-group">
      {{ form.tecnico.label_tag }}
      {{ form.tecnico }}
    </div>
    
    <div class="form-group">
      {{ form.relato_tecnico.label_tag }}
      {{ form.relato_tecnico }}
    </div>
    
    {% if chamado.status == 'Fechado' %}
      <button type="submit" formaction="{% url 'admin:fechar_chamado' chamado.id %}">Fechar Chamado</button>
    {% elif chamado.status == 'Reaberto' %}
      <button type="submit" formaction="{% url 'admin:fechar_chamado' chamado.id %}">Fechar Chamado</button>
    {% else %}
      <button type="submit">Atualizar Chamado</button>
    {% endif %}
  </form>
{% endblock %}
